.side_bar
  .side_bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        = link_to "#", class: "top-items__icons--editbtn" do
          = icon('fas', 'edit')
        = link_to "#", class: "top-items__icons--cogbtn" do
          = icon('fas', 'cog')
  .side_bar__group-list
    .group-set
      .group-set__item
        techcamp
      .group-set__message
        まだメッセージがありません
    .group-set
      .group-set__item
        テックキャンプ
      .group-set__message
        no message
      
      